body {
  box-sizing: border-box;
}

/************************ABOUT***********************/

#about, #about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}